@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/PTSans-Narrow-Web-Regular.woff2') format('woff2'), url('../fonts/PTSans-Narrow-Web-Regular.woff') format('woff');
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/PTSans-Narrow-Web-Bold.woff2') format('woff2'), url('../fonts/PTSans-Narrow-Web-Bold.woff') format('woff');
  /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}
body {
  font-size: 18px;
  line-height: 27px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header__logo {
  height: 85px;
  text-align: center;
}
.page-header__logo img {
  width: 230px;
  height: 85px;
}
.main-nav {
  position: relative;
  width: auto;
  min-height: 51px;
  margin: 0 auto;
  background-color: #826550;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover {
  background-color: #624530;
}
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #fff;
  box-shadow: 0 8px 0 0 #fff,
				0 16px 0 0 #fff;
}
.main-nav-closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #fff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__list {
  font-weight: bold;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.main-nav__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}
.main-nav__user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__user-login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}
.main-nav__user-login::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  background-image: url("../img/login-icon.png");
  opacity: 0.3;
}
.stats {
  width: auto;
}
.stats__header {
  padding: 30px 20px;
  text-align: center;
  color: #000;
  background-color: #fff;
}
.stats__slogan {
  font-size: 30px;
}
.stats__intro {
  font-size: 20px;
}
.stats__legend {
  display: block;
  padding-top: 20px;
  font-size: 20px;
  color: #5e5e5e;
  text-align: center;
  background: #242424;
}
.stats__legend--top {
  display: none;
}
.stats__table {
  width: 100%;
  border-collapse: collapse;
  background: #242424;
}
.stats__table tr:nth-child(1) {
  background-color: #404040;
}
.stats__table tr:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__table tr:nth-child(3) {
  background-color: #353535;
}
.stats__table tr:nth-child(4) {
  background-color: #404040;
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 10px;
}
.stats__value {
  font-size: 40px;
  font-weight: bold;
}
.stats__value sup {
  top: -0.25em;
  line-height: 30px;
  padding-left: 5px;
}
.stats__field {
  text-align: right;
}
.btn {
  display: block;
  width: auto;
  margin: 0 5vw;
  padding: 10px 0;
  font-size: 18px;
  line-height: 27px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  border: 1px solid #e5ddd5;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  border-color: #d5c9bd;
}
.btn:active {
  background: #d5c9bd;
  opacity: 0.7;
}
.slider {
  position: relative;
  padding: 0 20px;
}
.slider__input {
  position: absolute;
  opacity: 0;
}
.slider__toggles {
  width: 140px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  z-index: 1000;
}
#advantages-input-1:checked ~ .slider__toggles label[for="advantages-input-1"],
#advantages-input-2:checked ~ .slider__toggles label[for="advantages-input-2"],
#advantages-input-3:checked ~ .slider__toggles label[for="advantages-input-3"] {
  background: #fff;
}
#reviews-input-1:checked ~ .slider__toggles label[for="reviews-input-1"],
#reviews-input-2:checked ~ .slider__toggles label[for="reviews-input-2"],
#reviews-input-3:checked ~ .slider__toggles label[for="reviews-input-3"] {
  background: #353535;
}
.slider-toggle {
  display: inline-block;
  margin-right: 30px;
  width: 6px;
  height: 6px;
  border: 1px solid #a5a5a5;
  transform: rotate(45deg);
  cursor: pointer;
}
.slider-toggle:last-child {
  margin-right: 0;
}
.reviews__toggles .slider-toggle {
  border: 1px solid #858483;
}
.advantages {
  position: relative;
  background: #242424;
}
.advantages::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 48vw solid transparent;
  border-right: 48vw solid transparent;
  border-top: 37px solid #242424;
}
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages__item {
  padding-top: 40px;
  text-align: center;
}
.advantages__item p {
  font-size: 20px;
  margin-bottom: 25px;
}
.advantages__item-title {
  font-size: 30px;
  text-transform: uppercase;
}
.reviews {
  position: relative;
  padding-top: 20px;
  background-color: #f8f5f2;
  border-top: 1px solid #e5ddd5;
  color: #000;
}
.reviews::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 48vw solid transparent;
  border-right: 48vw solid transparent;
  border-top: 37px solid #f8f5f2;
}
.reviews__title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-bottom: 25px;
}
.reviews__write {
  display: none;
}
.reviews__list button {
  display: none;
}
.reviews__item {
  flex-direction: row;
  -ms-grid-row-align: flex-start;
      align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.reviews__author-foto {
  padding-top: 20px;
}
.reviews__info {
  width: 70%;
  padding-bottom: 30px;
}
.reviews__author-name {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
}
.reviews__list .slider__item {
  display: none;
}
#reviews-input-1:checked ~ .reviews__list .slider__item:nth-child(1) {
  display: flex;
}
#reviews-input-2:checked ~ .reviews__list .slider__item:nth-child(2) {
  display: flex;
}
#reviews-input-3:checked ~ .reviews__list .slider__item:nth-child(3) {
  display: flex;
}
.news {
  padding-top: 60px;
  background: #f8f5f2;
  color: #000;
}
.news__wrapper {
  padding-bottom: 25px;
}
.news__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 5vw;
  cursor: pointer;
}
.news__item:first-child {
  border-bottom: 1px solid #e5ddd5;
}
.news__item:last-child {
  display: none;
}
.news__item p {
  width: 75%;
}
.news__date {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 27px;
  margin-bottom: 20px;
  padding: 10px 12px;
  padding-bottom: 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background: #000;
}
.news__date::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 27px solid transparent;
  border-right: 26px solid transparent;
  border-top: 10px solid #000;
}
.news__date b {
  font-size: 30px;
  font-weight: bold;
}
.news__item:hover {
  color: #826550;
  text-decoration: underline;
}
.news__item:hover .news__date {
  background: #826550;
}
.news__item:hover .news__date::after {
  border-top: 10px solid #826550;
}
.news__item:active {
  color: #6a4d38;
  text-decoration: underline;
}
.news__item:active .news__date {
  color: #978374;
  background: #6a4d38;
}
.news__item:active .news__date::after {
  border-top: 10px solid #6a4d38;
}
.page-footer {
  text-align: center;
  margin-top: 37px;
  border-top: 1px solid #353535;
  background-color: #292929;
}
.page-footer__contacts {
  margin-bottom: 25px;
}
.page-footer__contacts--hidden {
  display: none;
}
.page-footer__contacts b {
  line-height: 60px;
}
.page-footer__contacts a {
  display: block;
  width: auto;
  margin: 0 5vw;
  margin-top: 25px;
  padding: 10px 0;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: 1px solid #353535;
}
.page-footer__contacts a:hover {
  border-color: #515151;
}
.page-footer__contacts a:active {
  border: none;
  background: #000;
  opacity: 0.3;
}
.page-footer__copyright-link {
  margin-top: 15px;
  border-color: #353535;
  color: #fff;
}
.page-footer__copyright-link:hover {
  border-color: #515151;
}
.page-footer__copyright-link:active {
  border: none;
  background: #000;
  opacity: 0.3;
}
.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 0;
}
.social-link {
  display: block;
  width: 33%;
  height: 99px;
  border: 1px solid #353535;
}
.social-link--vk {
  background: url("../img/vk-icon.png") no-repeat center;
}
.social-link--vk:active {
  border: none;
  background: url("../img/vk-icon.png") no-repeat center, #000;
  opacity: 0.3;
}
.social-link--fb {
  background: url("../img/fb-icon.png") no-repeat center;
}
.social-link--fb:active {
  border: none;
  background: url("../img/fb-icon.png") no-repeat center, #000;
  opacity: 0.3;
}
.social-link--in {
  background: url("../img/inst-icon.png") no-repeat center;
}
.social-link--in:active {
  border: none;
  background: url("../img/inst-icon.png") no-repeat center, #000;
  opacity: 0.3;
}
.social-link:hover {
  border-color: #535353;
}
.haircut-form {
  position: relative;
  padding-top: 25px;
  background: #f8f5f2;
  color: #000;
  padding-bottom: 40px;
}
.haircut-form::after {
  content: "";
  position: absolute;
  bottom: -37px;
  width: 0;
  height: 0;
  border-left: 48vw solid transparent;
  border-right: 48vw solid transparent;
  border-top: 37px solid #f8f5f2;
}
.haircut-form__wrapper {
  width: auto;
}
.haircut-form__title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.haircut-form__submit {
  width: 90%;
  color: #fff;
  background: #826550;
}
.haircut-form__submit:hover {
  background: #6a4d38;
}
.haircut-form__submit:active {
  color: #978374;
  background: #6a4d38;
}
.haircut-form__submit:disabled {
  color: #fff;
  background: #aeaeae;
}
.registration-form {
  border: none;
  padding: 0 5%;
  margin-bottom: 40px;
}
.registration-form input,
.registration-form__additional {
  font-size: 18px;
  line-height: 30px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  color: #000;
  width: 90%;
  padding: 10px 20px;
  margin-bottom: 6px;
  background: #fff;
  border: 1px solid #e5ddd5;
  outline: none;
  cursor: pointer;
}
.registration-form input:hover,
.registration-form__additional:hover {
  border-color: #d5c9bd;
}
.registration-form input:focus,
.registration-form__additional:focus {
  border-color: #999999;
}
.registration-form__personal-data,
.registration-form__contacts {
  padding: 0;
  margin-bottom: 32px;
}
.beard-selection {
  border: none;
  padding: 0 5%;
  text-align: center;
}
.beard-selection legend {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.beard-selection input[type="radio"] {
  display: none;
}
.beard-selection label {
  display: inline-block;
  width: 75px;
  position: relative;
  line-height: 54px;
  vertical-align: top;
  padding-top: 50px;
  margin: 0 2.5%;
  margin-bottom: 30px;
  cursor: pointer;
}
.beard-selection label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 45%;
  margin-left: -30%;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #e5ddd5;
  border-radius: 50%;
}
.beard-selection label:hover::before {
  border-color: #d5c9bd;
}
.beard-selection label:active::before {
  background-color: #d5c9bd;
}
.beard-selection label:active::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 37%;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #e5ddd5;
  border-radius: 50%;
}
.beard-selection input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 37%;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #e5ddd5;
  border-radius: 50%;
}
.beard-selection input[type="radio"]:checked:hover + label::after {
  border-color: #d5c9bd;
}
.beard-selection input[type="radio"]:checked:active + label::after {
  background-color: #d5c9bd;
}
.other-services {
  border: none;
  margin: 0;
  padding: 0 5%;
  margin-bottom: 45px;
}
.other-services legend {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.other-services input[type="checkbox"] {
  display: none;
}
.other-services label {
  display: block;
  position: relative;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 60px;
  padding-top: 5px;
  cursor: pointer;
}
.other-services label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 1px solid #e5ddd5;
}
.other-services label:hover::before {
  border-color: #d5c9bd;
}
.other-services label:active::before {
  background-color: #d5c9bd;
}
.other-services label:active::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 22px;
  height: 16px;
  background: url("../img/icon-checked.png");
}
.other-services input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 22px;
  height: 16px;
  background: url("../img/icon-checked.png");
}
.other-services input[type="checkbox"]:checked:active + label::after {
  background: #d5c9bd;
}
.works {
  position: relative;
  background: #f8f5f2;
  color: #000;
  padding-bottom: 40px;
  padding-top: 25px;
}
.works::after {
  content: "";
  position: absolute;
  bottom: -37px;
  width: 0;
  height: 0;
  border-left: 48vw solid transparent;
  border-right: 48vw solid transparent;
  border-top: 37px solid #f8f5f2;
}
.works__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.works__item {
  margin: 0 5%;
  padding-top: 20px;
  border-bottom: 1px solid #e5ddd5;
}
.works__item-best {
  position: relative;
  margin-bottom: -7px;
}
.works__item-best span {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 400px;
  width: 160px;
  height: 40px;
  background-color: #826550;
  padding-top: 10px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.works__item-best span::before {
  content: "";
  position: absolute;
  left: 152px;
  top: 0;
  display: block;
  border: 25px solid #826550;
  border-left: 8px solid #826550;
  border-right: 8px solid transparent;
}
.works__item-wrapper {
  padding: 0 4%;
}
.works__item-title {
  font-size: 24px;
  font-weight: bold;
}
.works__tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.works__tag-item {
  display: inline-block;
  padding-bottom: 25px;
  padding-right: 20px;
}
.works__tag-item a {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.works__tag-item img {
  margin-right: 15px;
  vertical-align: middle;
}
.price {
  width: auto;
  background: #353535;
  position: relative;
  padding-top: 45px;
  padding-bottom: 20px;
}
.price::after {
  content: "";
  position: absolute;
  bottom: -37px;
  width: 0;
  height: 0;
  border-left: 48vw solid transparent;
  border-right: 48vw solid transparent;
  border-top: 37px solid #353535;
}
.price__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.price__table {
  display: block;
  font-size: 20px;
  margin: 0 5%;
  margin-bottom: 20px;
}
.price__table tbody {
  display: block;
}
.price__table tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}
.price__table td {
  display: block;
}
.price__table .col-2 {
  font-weight: bold;
}
.price__table .col-3 {
  order: 4;
  width: 90%;
}
.price__table .col-1 {
  display: none;
}
.price__discount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5%;
  padding: 0 20px;
  border: 1px solid #484848;
}
.price__discount img {
  padding: 15px 0;
}
.price__discount p {
  width: 50%;
}
.to-main {
  display: none;
}
.modal-content {
  display: none;
  position: absolute;
  top: 135px;
  color: #000;
  background: #f8f5f2;
  box-shadow: 0px 50px 30px 0px rgba(0, 0, 0, 0.8);
}
.modal-content__wrapper {
  margin: 0 5%;
  margin-bottom: 35px;
}
.modal-content__wrapper p {
  text-align: center;
}
.modal-content__title {
  padding-top: 10px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.modal-content__confirm,
.modal-content__close--bottom {
  display: inline-block;
  width: 45%;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 8%;
}
.modal-content__confirm {
  color: #fff;
  background: #826550;
}
.modal-content__confirm span {
  display: none;
}
.modal-content__confirm:hover {
  background: #6a4d38;
}
.modal-content__confirm:active {
  color: #978374;
  background: #6a4d38;
}
.modal-content--open {
  display: block;
}
.modal-content__close {
  cursor: pointer;
}
.modal-content__close--top {
  display: none;
}
.modal-content__close--bottom {
  background: #f8f5f2;
  margin-right: 0;
}
.login-form input[type="checkbox"] {
  display: none;
}
.login-form input {
  width: 92%;
  padding: 15px;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 27px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  background: #fff;
  border: 1px solid #e5ddd5;
  outline: none;
  cursor: pointer;
}
.login-form input:hover {
  border-color: #d5c9bd;
}
.login-form input:focus {
  border-color: #999999;
}
.login-form input[type="text"] {
  background-image: url("../img/user.png");
  background-repeat: no-repeat;
  background-position: 95% 20px;
}
.login-form input[type="password"] {
  margin-bottom: 30px;
  background-image: url("../img/locked.png");
  background-repeat: no-repeat;
  background-position: 95% 20px;
}
.login-form label {
  position: relative;
  display: inline-block;
  width: 40%;
  padding-top: 6px;
  padding-left: 50px;
  cursor: pointer;
}
.login-form label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 1px solid #e5ddd5;
}
.login-form label:hover::before {
  border-color: #d5c9bd;
}
.login-form label:active::before {
  background-color: #d5c9bd;
}
.login-form label:active::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 22px;
  height: 16px;
  background: url("../img/icon-checked.png");
}
.login-form input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 22px;
  height: 16px;
  background: url("../img/icon-checked.png");
}
.login-form input[type="checkbox"]:checked:active + label::after {
  background: #d5c9bd;
}
.login-form__restore {
  display: inline-block;
  width: 40%;
  text-align: right;
  color: #000;
}
.pop-up {
  display: none;
  position: absolute;
  width: 100%;
  top: 290%;
  color: #000;
  text-align: center;
  background: #fff;
  box-shadow: 0px 50px 30px 0px rgba(0, 0, 0, 0.8);
}
.pop-up--success {
  top: 350%;
}
.pop-up__wrapper {
  margin: 30px 5%;
  margin-bottom: 45px;
}
.pop-up__title {
  font-size: 40px;
  text-transform: uppercase;
}
.pop-up--open {
  display: block;
}
.pop-up__confirm {
  width: 65%;
  margin: 0 auto;
  margin-top: 30px;
  color: #fff;
  background: #826550;
}
.pop-up__confirm:hover {
  background: #6a4d38;
}
.pop-up__confirm:active {
  color: #978374;
  background: #6a4d38;
}
@media (min-width: 760px) {
  body {
    background-color: #353535;
  }
  .page-header {
    display: flex;
    flex-direction: column;
    background-color: #000;
  }
  .page-header__logo {
    order: 2;
    width: 100%;
    height: 400px;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
    padding-top: 35px;
  }
  .page-header__logo img {
    width: 375px;
    height: auto;
  }
  .main-nav {
    width: auto;
    background-color: #000;
  }
  .main-nav__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-nav__list {
    width: 580px;
  }
  .main-nav__item {
    display: inline-block;
    padding: 20px 0;
    margin-right: 30px;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }
  .main-nav__item--active {
    position: relative;
  }
  .main-nav__item--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #826550;
  }
  .main-nav__item a {
    padding: 0;
    border: none;
    background-color: #000;
    cursor: pointer;
  }
  .main-nav__item a[href]:hover {
    background-color: #000;
    color: #826550;
  }
  .main-nav__item a[href]:active {
    color: #fff;
    opacity: 0.5;
  }
  .main-nav__user-list {
    width: 50px;
  }
  .main-nav__user-item {
    display: inline-block;
  }
  .main-nav__user-login {
    font-size: 0;
  }
  .main-nav__user-login::before {
    top: 25px;
    left: 0;
    opacity: 1;
  }
  .main-nav__user-login:hover::before {
    background-image: url("../img/login-icon--h.png");
  }
  .main-nav__user-login:active::before {
    background-image: url("../img/login-icon.png");
  }
  .main-nav__toggle {
    display: none;
  }
  .stats {
    width: 84%;
    /* 640px / 768 ~= 84% */
    max-width: 960px;
    /* 960px / .84 ~= 1142px */
    margin: 0 auto;
  }
  .stats {
    position: relative;
    z-index: 2;
    margin-top: -186px;
  }
  .stats__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -14px;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    transform: rotate(45deg);
  }
  .stats__slogan {
    font-size: 40px;
    line-height: 40px;
    width: 50%;
    margin-top: 15px;
  }
  .stats__intro {
    width: 50%;
    text-align: left;
  }
  .stats__legend--top {
    display: block;
    width: 50%;
    background-color: #fff;
    vertical-align: bottom;
    padding-top: 0;
    padding-bottom: 5px;
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__table {
    display: block;
  }
  .stats__table tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__table tr {
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 25px 35px;
    padding-bottom: 28px;
  }
  .stats__value,
  .stats__field {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
  .btn {
    padding: 10px 30px;
  }
  .advantages {
    background-color: #353535;
    padding-top: 15px;
  }
  .advantages::after {
    bottom: -37px;
    border-top: 38px solid #353535;
  }
  .advantages__wrapper {
    width: auto;
  }
  .advantages__toggles {
    display: none;
  }
  .advantages__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    padding: 30px 0;
    margin: 0 30px;
    border-bottom: 1px solid #4a4a4a;
  }
  .advantages__item p {
    width: 80%;
    padding-left: 22%;
    margin: 0;
    margin-top: -50px;
  }
  .advantages__item:last-child {
    border: none;
  }
  .advantages__item-title {
    width: 78%;
    height: 40px;
    margin: 0;
  }
  .reviews {
    padding-bottom: 55px;
  }
  .reviews::after {
    display: none;
  }
  .reviews__wrapper {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .reviews__write {
    display: block;
    margin: 15px 0;
    margin-bottom: 35px;
  }
  .reviews__list {
    display: flex;
  }
  .reviews__item {
    order: 2;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 0;
    border: 1px solid #e5ddd5;
  }
  .reviews__info {
    width: 75%;
    padding-bottom: 20px;
  }
  .reviews__author-foto {
    padding-top: 10px;
  }
  .reviews__author-foto img {
    -webkit-clip-path: circle(37%);
    clip-path: circle(37%);
  }
  .reviews__list button {
    display: block;
    width: 10%;
    background-color: #f8f5f2;
    border: 1px solid #e5ddd5;
    outline: none;
    cursor: pointer;
  }
  .reviews__list button:hover {
    border-color: #d5c9bd;
  }
  .reviews__list button:active {
    background-color: #d5c9bd;
  }
  .reviews__list button:active::before {
    opacity: 0.5;
  }
  .reviews__prev {
    order: 1;
    position: relative;
  }
  .reviews__prev::before {
    content: "";
    position: absolute;
    top: 48%;
    left: 30%;
    border: 5px solid transparent;
    border-right: 10px solid #000;
  }
  .reviews__next {
    order: 3;
    position: relative;
  }
  .reviews__next::before {
    content: "";
    position: absolute;
    top: 48%;
    left: 45%;
    border: 5px solid transparent;
    border-left: 10px solid #000;
  }
  .reviews__toggles {
    display: block;
    margin-top: -5px;
    background-color: #f8f5f2;
  }
  .news__wrapper {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .news__list {
    order: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .news__item {
    width: 50%;
    margin: 0;
  }
  .news__item:first-child {
    border-bottom: none;
  }
  .news__item p {
    width: 70%;
    margin-right: 20px;
  }
  .news__to-all {
    order: 2;
    margin: 15px 0;
  }
  .page-footer {
    margin-top: 0;
    padding-top: 25px;
  }
  .page-footer__wrapper {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  .page-footer__contacts {
    text-align: left;
  }
  .page-footer__contacts--hidden {
    display: inline;
  }
  .page-footer__contacts a {
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: normal;
    text-transform: none;
  }
  .page-footer__copyright {
    order: 2;
    margin-top: 35px;
  }
  .page-footer__copyright-link {
    margin: 0;
    margin-top: 10px;
  }
  .page-footer__socials {
    order: 3;
    display: block;
    width: 100%;
  }
  .haircut-form__wrapper {
    width: 84%;
    /* 640px / 768 ~= 84% */
    max-width: 960px;
    /* 960px / .84 ~= 1142px */
    margin: 0 auto;
  }
  .haircut-form {
    margin-top: -180px;
    padding-bottom: 75px;
  }
  .haircut-form::before {
    content: "";
    position: absolute;
    top: -52px;
    display: block;
    border: 50vw solid #f8f5f2;
    border-top: 45px solid transparent;
    border-bottom: 45px solid #f8f5f2;
  }
  .haircut-form::after {
    display: none;
  }
  .haircut-form__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .haircut-form__wrapper form {
    width: 100%;
  }
  .haircut-form__title {
    text-align: left;
    font-size: 40px;
  }
  .haircut-form__submit {
    margin: 0;
    width: 100%;
  }
  .registration-form {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    width: 100%;
  }
  .registration-form input,
  .registration-form textarea {
    width: 94%;
    margin-bottom: 35px;
  }
  .registration-form__personal-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
  .registration-form__personal-data input {
    width: 33%;
    margin-right: 0;
  }
  .registration-form__personal-data input:last-child {
    order: 3;
  }
  .registration-form__personal-data input:first-child {
    order: 2;
  }
  .beard-selection {
    padding: 0;
    margin-bottom: 40px;
    position: relative;
  }
  .beard-selection::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    width: 100%;
    border: 1px solid #e5ddd5;
    z-index: 10;
  }
  .beard-selection legend {
    font-size: 30px;
    position: relative;
    padding: 0 22px;
    background: #f8f5f2;
    z-index: 1000;
  }
  .beard-selection label {
    margin: 0 7%;
    margin-left: 1%;
  }
  .beard-selection label:last-child {
    margin-right: 1%;
  }
  .other-services {
    padding: 0;
    position: relative;
  }
  .other-services::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    width: 100%;
    border: 1px solid #e5ddd5;
    z-index: 10;
  }
  .other-services legend {
    font-size: 30px;
    position: relative;
    padding: 0 22px;
    padding-bottom: 40px;
    background: #f8f5f2;
    z-index: 1000;
  }
  .other-services br {
    display: none;
  }
  .other-services label {
    display: inline-block;
    margin-bottom: 48px;
    width: 40%;
    font-size: 24px;
  }
  .works {
    margin-top: -180px;
  }
  .works::before {
    content: "";
    position: absolute;
    top: -52px;
    display: block;
    border: 50vw solid #f8f5f2;
    border-top: 45px solid transparent;
    border-bottom: 45px solid #f8f5f2;
  }
  .works__wrapper {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .works__title {
    text-align: left;
    padding-bottom: 20px;
  }
  .works__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 0;
    border: 1px solid #e5ddd5;
  }
  .works__item picture {
    margin-bottom: -7px;
  }
  .works__item-wrapper {
    width: 40%;
    padding-right: 35px;
  }
  .works__item-best span {
    top: 37px;
    left: -2px;
  }
  .price {
    width: 84%;
    /* 640px / 768 ~= 84% */
    max-width: 960px;
    /* 960px / .84 ~= 1142px */
    margin: 0 auto;
  }
  .price {
    margin-top: 37px;
    padding-top: 15px;
  }
  .price::after {
    display: none;
  }
  .price__title {
    text-align: left;
    font-size: 40px;
  }
  .price__table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    margin-bottom: 8px;
  }
  .price__table tbody {
    display: table-row-group;
  }
  .price__table tr {
    display: table-row;
  }
  .price__table td {
    display: table-cell;
    padding: 15px 20px;
    border: 1px solid #4a4a4a;
  }
  .price__table .col-1 {
    display: table-cell;
  }
  .price__table .col-3 {
    width: auto;
  }
  .price__discount {
    margin: 0;
    margin-bottom: 55px;
  }
  .price__discount img {
    padding: 25px 0;
  }
  .price__discount p {
    font-size: 40px;
    width: 80%;
  }
  .price__discount br {
    display: none;
  }
  .to-main {
    display: inline-block;
    margin: 15px 0;
    margin-bottom: 30px;
  }
  .modal-content {
    width: 460px;
    top: 130px;
    left: 50%;
    margin-left: -230px;
    z-index: 1000;
  }
  .modal-content__wrapper {
    margin: 30px 70px;
    margin-bottom: 50px;
  }
  .modal-content__close--bottom {
    display: none;
  }
  .modal-content__close--top {
    display: block;
    position: absolute;
    right: -105px;
    background: url("../img/cross.png") no-repeat;
    width: 35px;
    height: 35px;
    font-size: 0;
  }
  .modal-content__confirm {
    width: 100%;
  }
  .modal-content__confirm span {
    display: inline;
  }
  .login-form label {
    margin-right: 10px;
  }
  .pop-up {
    z-index: 1000;
    left: 50%;
  }
  .pop-up--success {
    width: 465px;
    top: 195%;
    margin-left: -233px;
  }
  .pop-up--failure {
    width: 320px;
    top: 140%;
    margin-left: -160px;
  }
}
@media (min-width: 760px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 760px) and (min-resolution: 144dpi), (min-resolution: 1.5ddpx) {
  .page-header__logo {
    background-image: url("../img/bg-header@2.jpg");
    background-size: 1338px auto;
  }
}
@media (min-width: 760px) and (min-width: 760px) {
  .main-nav {
    width: 84%;
    /* 640px / 768 ~= 84% */
    max-width: 960px;
    /* 960px / .84 ~= 1142px */
    margin: 0 auto;
  }
  .advantages__wrapper {
    width: 84%;
    /* 640px / 768 ~= 84% */
    max-width: 960px;
    /* 960px / .84 ~= 1142px */
    margin: 0 auto;
  }
  .reviews__wrapper {
    width: 84%;
    /* 640px / 768 ~= 84% */
    max-width: 960px;
    /* 960px / .84 ~= 1142px */
    margin: 0 auto;
  }
  .news__wrapper {
    width: 84%;
    /* 640px / 768 ~= 84% */
    max-width: 960px;
    /* 960px / .84 ~= 1142px */
    margin: 0 auto;
  }
  .page-footer__wrapper {
    width: 84%;
    /* 640px / 768 ~= 84% */
    max-width: 960px;
    /* 960px / .84 ~= 1142px */
    margin: 0 auto;
  }
  .works__wrapper {
    width: 84%;
    /* 640px / 768 ~= 84% */
    max-width: 960px;
    /* 960px / .84 ~= 1142px */
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 650px;
    padding-top: 55px;
    background-image: url("../img/bg-header@2.jpg");
    background-position: center -9px;
    background-size: auto 720px;
  }
  .main-nav__list {
    width: auto;
  }
  .main-nav__item {
    margin: 0;
    padding: 0;
  }
  .main-nav__item--active::after {
    left: 30px;
    right: 30px;
    width: auto;
  }
  .main-nav__item a {
    padding: 25px 30px;
  }
  .main-nav__item a[href]:hover {
    background-color: #fff;
    color: #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main-nav__item a[href]:active {
    color: #b2b2b2;
    opacity: 1;
  }
  .main-nav__user-list {
    width: auto;
  }
  .main-nav__user-item a {
    padding: 27px 30px;
    padding-left: 60px;
  }
  .main-nav__user-login {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .main-nav__user-login::before {
    top: 29px;
    left: 27px;
  }
  .main-nav__user-login:hover {
    background-color: #fff;
    color: #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main-nav__user-login:active {
    color: #b2b2b2;
    opacity: 1;
  }
  .main-nav__user-login:hover::before {
    background-image: url("../img/login-icon--d.png");
  }
  .main-nav__user-login:active::before {
    background-image: url("../img/login-icon--d.png");
    opacity: 0.5;
  }
  .stats {
    display: flex;
    margin-top: -160px;
  }
  .stats__header {
    flex-direction: column;
    width: 30%;
  }
  .stats__slogan,
  .stats__intro,
  .stats__legend {
    width: auto;
    padding: 0 30px;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: left;
  }
  .stats__table {
    width: 70%;
  }
  .advantages::after {
    bottom: -64px;
    border-top: 65px solid #353535;
  }
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }
  .advantages__item {
    display: block;
    text-align: center;
    border: none;
  }
  .advantages__item p {
    width: auto;
    padding: 0;
    margin: 0;
  }
  .advantages__item-title {
    width: auto;
    padding-top: 30px;
  }
  .reviews {
    padding-bottom: 25px;
  }
  .reviews__title {
    font-size: 40px;
  }
  .reviews__write {
    margin-bottom: 50px;
  }
  .reviews__item {
    width: 93%;
    padding: 0;
  }
  .reviews__author-foto {
    padding: 0;
    margin-bottom: -5px;
  }
  .reviews__author-foto img {
    -webkit-clip-path: none;
    clip-path: none;
  }
  .reviews__info {
    width: 55%;
    padding: 0;
    padding-top: 20px;
    padding-right: 30px;
  }
  .reviews__list button {
    width: 5%;
  }
  .reviews__prev {
    margin-right: 2%;
  }
  .reviews__next {
    margin-left: 2%;
  }
  .reviews__toggles {
    margin-top: 40px;
  }
  .news {
    padding-top: 100px;
  }
  .news__title {
    font-size: 40px;
  }
  .news__item {
    width: 33%;
  }
  .news__item:last-child {
    display: flex;
  }
  .news__to-all {
    margin-bottom: 25px;
  }
  .page-footer__contacts {
    padding-top: 20px;
  }
  .page-footer__socials {
    order: 2;
    padding-top: 35px;
    margin-left: -135px;
    width: auto;
  }
  .page-footer__socials span {
    font-size: 18px;
    text-align: center;
    width: 70%;
  }
  .page-footer__copyright {
    order: 3;
  }
  .social-links {
    flex-wrap: wrap;
  }
  .social-link {
    font-size: 0;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-top: 15px;
  }
  .social-link:last-child {
    margin-right: 0;
  }
  .haircut-form {
    margin-top: -300px;
    width: 101%;
  }
  .haircut-form::before {
    top: -105px;
    border-top: 65px solid transparent;
    border-bottom: 65px solid #f8f5f2;
  }
  .registration-form textarea {
    width: 96%;
  }
  .registration-form__personal-data {
    justify-content: space-between;
  }
  .registration-form__personal-data input {
    width: 27%;
  }
  .registration-form__contacts {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .registration-form__contacts input {
    width: 44%;
  }
  .beard-selection label {
    margin: 0 6%;
  }
  .other-services label {
    width: 26%;
  }
  .works {
    margin-top: -300px;
  }
  .works::after {
    display: none;
  }
  .works::before {
    top: -105px;
    border-top: 65px solid transparent;
    border-bottom: 65px solid #f8f5f2;
  }
  .works__item {
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
  }
  .works__item-wrapper {
    width: 90%;
    min-height: 255px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .works__item-wrapper p {
    flex-grow: 3;
  }
  .works__item--main-work {
    flex-direction: row;
    width: 100%;
  }
  .works__item--main-work .works__item-wrapper {
    width: 40%;
    padding-top: 130px;
  }
  .works__item-best span {
    left: 167%;
  }
  .works__item-best span::before {
    left: -12px;
    border-left: 8px solid transparent;
    border-right: 8px solid #826550;
  }
  .works__item-title {
    margin-bottom: 0;
  }
  .price {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .price__title {
    margin-bottom: 50px;
    width: 100%;
  }
  .price__table {
    width: 65%;
  }
  .price__discount {
    width: 25%;
    flex-direction: column;
    text-align: center;
  }
  .price__discount p {
    font-size: 20px;
    line-height: 27px;
    width: 100%;
  }
  .price__discount br {
    display: block;
  }
  .price__discount img {
    width: 142px;
    height: 139px;
  }
}
@media (max-width: 759px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .main-nav__user-list {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .main-nav__user-list {
    display: block;
    background-color: #6a4d38;
  }
  .advantages__list .slider__item {
    display: none;
  }
  #advantages-input-1:checked ~ .advantages__list .slider__item:nth-child(1) {
    display: block;
  }
  #advantages-input-2:checked ~ .advantages__list .slider__item:nth-child(2) {
    display: block;
  }
  #advantages-input-3:checked ~ .advantages__list .slider__item:nth-child(3) {
    display: block;
  }
}
