@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?94604853');
  src: url('../font/symbols-nerds.eot?94604853#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?94604853') format('woff'),
       url('../font/symbols-nerds.ttf?94604853') format('truetype'),
       url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  /*width: 1em;
  margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */

body {
	margin: 0;
	padding: 0;
	min-width: 880px;

	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.header {
	background: #eeeeee;
	margin-bottom: 82px;
	font-weight: 500;
}
.main-header {
	margin: 0 auto;
	padding: 0 10px;
	width: 880px;
	margin-bottom: 42px;

	text-transform: uppercase;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
/*Навигация*/
.logo {
	padding-top: 28px;

	float: left;
	width: 139px;
}
.header-nav {
	float: left;
	text-align: right;

	width: 600px;
}
.header-nav ul {
	list-style: none;
	margin: 0;
	padding: 0; 
}
.header-nav li {
	display: inline-block;

	padding-top: 55px;
}
.header-nav a {
	padding: 0 18px;
	text-decoration: none;
	font-size: 14px;
	line-height: 30px;
	color: #000;
}
.header-nav a:hover {
	color: #fb565a;
}
.header-nav a:active {
	color: #bdbdbd;
}
.header-nav .active {
	position: relative;
}
.header-nav .active a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	height: 2px;
	background: #fb565a;
}
.header-nav li:first-child a {
	padding-left: 0;
}
.header-nav li:last-child a {
	padding-right: 0;
}
/*Корзина*/
.basket{
	float: right;
	position: relative;
	display: block;

	padding-left: 25px;
	font-size: 14px;
	line-height: 30px;

	padding-top: 55px;
}
.basket a {
	text-decoration: none;
	color: #000;
}
.basket a:hover {
	color: #fb565a;
}
.basket a:active {
	color: #bdbdbd;
}
.basket a::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 8px;

	background: url("img/sprite.png") no-repeat;
	background-position: -20px -19px;
	width: 15px;
    height: 15px;
    opacity: 0.3;
}
.basket a:hover::before {
	background-position: -20px -74px;
	opacity: 1;
}
.basket a:active::before {
	background-position: -20px -19px;
	opacity: 0.1;
}
/*Слайдеры особенностей команды*/
.slider {
	position: relative;
	width: 880px;
	height: 310px;
	padding: 0 10px;
	margin: 0 auto;
}
.slider input[type=radio] {
	position: absolute;
	opacity: 0;
}
.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 50%;
	width: 200px;
	height: 10px;
	margin-left: -100px;
	text-align: center;
	z-index: 1000;
}
.slider-controls label {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	background: #fff;
	border: 3px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
	background: #c1c1c1;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.slide-text {
	width: 470px;
	padding: 30px 0;
	color: #283136;
}
.slide-title {
	font-weight: 500;
	font-size: 36px;
	line-height: 36px;
}
.slide .btn {
	display: block;
	width: 240px;
	padding: 10px 0;
	margin-top: 23px;
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: #fb565a;
	border-radius: 5px;
}
.slide .btn:hover {
	background: #d6494d;
}
.slide .btn:active {
	background: #b63538;
}
.slide:nth-child(1) {
	background-image: url("img/block1.png");
	background-repeat: no-repeat;
	background-position: 100% 10px;
}
.slide:nth-child(2) {
	background-image: url("img/block2.png");
	background-repeat: no-repeat;
	background-position: 100% 10px;
}
.slide:nth-child(3) {
	background-image: url("img/block3.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}
.slide {
	display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}
/*Заголовок во внутренних страницах*/
.header-title {
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0 auto;
	padding-bottom: 90px;
	width: 700px;
}

.container {
	background: #fff;
	margin-bottom: 85px;
}
/*Услуги и товары*/
.services {
	margin: 0 auto;
	width: 880px;
	margin-bottom: 85px;
}
.product {
	float: left;
	width: 250px;
	margin-right: 60px;
}

.product:last-child {
	margin-right: 0;
}
.product-title {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 500;
}
.product .btn {
	display: block;
	width: 140px;
	padding: 10px 0;
	margin-top: 20px;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}
.product:first-child .btn {
	background: #fb565a;
}
.product:nth-child(2) .btn {
	background: #00ca74;
}
.product:last-child .btn {
	background: #efc84a;
}
.product:first-child .btn:hover {
	background: #d6494d;
}
.product:nth-child(2) .btn:hover {
	background: #01a25e;
}
.product:last-child .btn:hover {
	background: #d6ae2c;
}
.product:first-child .btn:active {
	background: #b63538;
}
.product:nth-child(2) .btn:active {
	background: #009053;
}
.product:last-child .btn:active {
	background: #c09b24;
}
/*Описание компании*/
.description {
	position: relative;
	margin: 0 auto;
	width: 880px;
	margin-bottom: 70px;
	border-bottom: 2px solid #eeeeee;
}
.description-column-left {
	float: left;
	max-width: 580px;
	margin-right: 50px;
	margin-bottom: 30px;
}
.description-column-right {
	float: right;
	width: 240px;
	margin-bottom: 30px;
}
.description-title {
	font-weight: 500;
	font-size: 36px;
	line-height: 36px;

}
.description-column-right img {
	margin: 0 auto;
	display: block;
	margin-bottom: 30px;
}
.logo-title {
	text-align: center;
}
.logo-title h2 {
	position: relative;
	display: inline;
	padding: 0 25px;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	text-transform: uppercase;
	z-index: 2;
}
.logo-title::after {
	content: "";
	display: block;
	position: relative;
	top: -12px;
	border-bottom: 2px solid #eeeeee;
	z-index: 1;
}
.list-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.description-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 30px;
}
.description-list li {
	position: relative;
	padding-left: 35px;
	padding-bottom: 20px;
}
.description-list li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 25%;
	width: 25px;
	height: 2px;
	background: #fb565a;
}
/*Сайти-партнеры*/
.partners {
	margin: 0 auto;
	width: 880px;
	margin-bottom: 35px;
}
.partners .btn {
	float: left;
	margin-right: 115px;

	font-size: 0;
}
.partners .btn-glukhanko {
	margin-left: 20px;
	margin-top: 10px;
	width: 198px;
    height: 37px;
	background: url("img/sprite.png") no-repeat;
	background-position: -20px -320px;
	opacity: 0.3;
}
.partners .btn-academy {
	margin-top: 5px;
	width: 199px;
    height: 50px;
    background: url("img/sprite.png") no-repeat;
     background-position: -20px -397px;
    opacity: 0.3;
}
.partners .btn-barbershop {
	margin-right: 0;
	margin-top: -20px;
	width: 209px;
    height: 87px;
    background: url("img/sprite.png") no-repeat;
    background-position: -20px -130px;
    opacity: 0.3;
}
.partners .btn-glukhanko:hover,
.partners .btn-glukhanko:active,
.partners .btn-academy:hover,
.partners .btn-academy:active,
.partners .btn-barbershop:hover,
.partners .btn-barbershop:active {
	opacity: 1;
}
.inner-container {
	margin: 0 auto;
	width: 880px;
	margin-bottom: 75px;
}
.content-column-left {
	float: left;
	width: 240px;
	margin-right: 80px;
}
/*Ценовой фильтр*/
.filter-value h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;

}
.range-filter {
	width: 240px;
	margin-bottom: 35px;
}
.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 10px;
	padding: 0 15px;
	background: #f1f1f1;
	border-radius: 5px;
	overflow: hidden;
}
.range-controls .scale {
	margin-top: 39px;
	height: 2px;
	background: #d7dcde;
}
.range-controls .bar {
	position: relative;
	left: 10px;
	width: 150px;
	height: 2px;
	background: #00ca74;
}
.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 10px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #fff;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .max-toggle {
	left: 160px;
}
.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
	border: none;
	background: #f1f1f1;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	text-align: center;
	border-radius: 5px;
}
.price-controls .min-price {
	margin-right: 15px;
}
.price-controls {
	white-space: nowrap;
}
/*Фильтры поиска товара*/
.filters fieldset {
	border: none;
	padding: 0;
	margin-bottom: 35px;
}
.filters legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.filters input[type="radio"],
.filters input[type="checkbox"] {
	display: none;
}
.filters label {
	position: relative;
	font-size: 16px;
	line-height: 20px;
	color: #797c7f;
	vertical-align: middle;
	padding-left: 35px;
	padding-bottom: 35px;
	cursor: pointer;
}
.filters input[type="radio"] + label::before {
	content: "";
	position: absolute;
	top: -4px;
	left: 0;
	width: 17px;
	height: 17px;
	background: #fff;
	border: 3px solid #c1c1c1;
	border-radius: 50%;
	opacity: .8;
}
.filters input[type="radio"]:checked + label::before {
	content: "";
	position: absolute;
	background: url("img/sprite.png") no-repeat;
	width: 25px;
    height: 25px;
    background-position: -21px -487px;
    border: none;
}
.filters input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: 20px;
	height: 19px;
	background: #fff;
	border: 2px solid #c1c1c1;
	border-radius: 5px;
	opacity: .8;
}
.filters input[type="checkbox"]:checked + label::before {
	content: "";
	position: absolute;
	background: url("img/sprite.png") no-repeat;
	width: 27px;
    height: 23px;
    background-position: -20px -256px;
    border: none;
}
.filters input[type="radio"]:hover + label::before,
.filters input[type="checkbox"]:hover + label::before {
	opacity: 1;
}
.filters input[type="radio"]:disabled + label,
.filters input[type="checkbox"]:disabled + label {
	color: #c2c3c4;
}
.filters input[type="radio"]:disabled + label::before,
.filters input[type="checkbox"]:disabled + label::before {
	opacity: .3;
}
.filters label:hover {
	color: #6b6b6b;
}

.content-column-right {
	float: right;
	width: 560px;
}
/*Сортировка товара*/
.sorting {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}
.sorting-title {
	float: left;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
}
.sorting ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sorting li {
	display: inline-block;
	padding: 10px 20px;
}
.sorting a {
	color: #c1c1c1;
	text-decoration: none;
	border-bottom: 1px dotted #00ca74;
}
.sorting a:hover {
	color: #000;
	border-bottom: 1px solid #00ca74;
}
.sorting a:active {
	color: #000;
	border-bottom: none;
}
.sorting-icons {
	float: right;
	padding: 10px 0;
	font-size: 23px;
	cursor: pointer;
	color: #c1c1c1;
}
.sorting-icons .active {
	color: #00ca74;
}
.sorting-icons .active:hover,
.sorting-icons:hover {
	color: #c1c1c1;
}
.sorting-icons .active:active,
.sorting-icons:active {
	color: #000;
}
/*Товар*/
.product-item {
	float: left;
	position: relative;
	margin-right: 80px;
	margin-bottom: 80px;
	border-top: 30px solid  #f1f1f1;
	border-radius: 5px;
}
.product-item::after {
	content: "•••";
	position: absolute;
	top: -25px;
	left: 20px;
	font-size: 45px;
	color: #fff;
}

.product-item:hover {
	border-color: #797979;
}
.product-item:nth-child(even) {
	margin-right: 0;
}
.produst-item img {
	position: relative;
}
/*Карточка товара*/
.item-card {
	display: none;
	position: absolute;
	top: 25px;
	left: 20px;
	width: 160px;
	padding: 30px 20px;
	background: #fff;
}
.item-card a {
	text-decoration: none;
	font-size: 13px;
	font-weight: 300;
	line-height: 18px;
	color: #b1b3b4;
	text-align: center;
}
.item-title {
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	color: #000;
}
.item-card .btn {
	display: inline-block;
	width: 140px;
	margin-left: 10px;
	padding: 10px 0;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	color: #fff;
	background: #fb565a;
	border-radius: 5px;
}
.item-card .btn:hover {
	background: #d6494d;
}
.item-card .btn:active {
	background: #b63538;
}
.product-item:hover  .item-card {
	display: block;
}
/*Кнопки навигации по магазину*/
.shop-nav .btn {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	width: 37px;
	padding: 10px 0;
	margin-right: 10px;
	background: #f1f1f1;
	border-radius: 3px;
}
.shop-nav .btn:hover {
	background: #e5e5e5;
}
.shop-nav .btn:active {
	background: #d5d5d5;
	border-top: 3px solid #b5b5b5;
}
.shop-nav .active {
	background: #fff;
	border: 1px solid #f1f1f1;
}
.shop-nav .btn-next {
	width: 140px;
}

/*Карта*/
.map {
	position: relative;
	margin-bottom: 80px;
}
.map-field {
	width: 100%;
	height: 416px;
	margin-bottom: 80px;
	background: #eee;
}
/*Информационное окно на карте*/
.map-info {
	position: absolute;
	top: 87px;
	left: 50%;
	margin-left: -430px;
	padding: 20px;
	padding-bottom: 25px; 
	width: 200px;
	background: #fff;
}
.info-title {
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 300;
}
.info-title span {
	font-weight: 500;
}
.map-info .btn {
	display: block;
	width: 195px;
	padding: 10px 0;
	margin-top: 23px;
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: #fb565a;
	border-radius: 5px;
}
.map-info .btn:hover {
	background: #d6494d;
}
.map-info .btn:active {
	background: #b63538;
}
.footer-socials {
	margin: 0 auto;
	width: 880px; 
	margin-top: 40px;
	margin-bottom: 75px;
}
/*Социальные кнопки*/
.socials-icons {
	float: left;
}
.socials-icons .btn {
	display: inline-block;
	font-size: 23px;
	color: #fff;
	text-align: center;
	margin-right: 20px;
	padding: 18px;
	width: 1em;
	border-radius: 50%;
	background: #e1e1e1;
}
.socials-icons .btn:hover {
	background: #d6494d;
}
.socials-icons .btn:active {
	background: #b63538;
}
.socials-icons .btn:last-child {
	margin-right: 0;
}
/*Текст о скидке*/
.sales {
	float: right;
	width: 560px;
}
.sales-title {
	margin-top: -10px;
	margin-bottom: 0;
	font-size: 36px;
	line-height: 36px;
	font-weight: 500;
}

/*Всплывающая форма*/
.modal-content {
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top: 275px;
	margin-left: -320px;
	width: 470px;
	padding: 50px 80px;
	background: #fff;
	box-shadow: 0 5px 20px rgba(0,0,0,.7);
}
.modal-content-show {
	display: block;
}
.modal-content span {
	display: inline-block;
	font-weight: 500;
	padding-right: 16px;
	margin-bottom: 10px;
}
.modal-content input {
	font-size: 12px;
	line-height: 18px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	border-radius: 5px;
	margin-top: 5px;
	padding: 10px;
	width: 190px;
	border: 2px solid #d7dcde;
}
.modal-content textarea {
	font-size: 12px;
	line-height: 18px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	border-radius: 5px;
	margin-top: 5px;
	padding: 10px;
	width: 425px;
	border: 2px solid #d7dcde;
}
.modal-content input:hover,
.modal-content textarea:hover {
	border-color: #a2a9ac;
}
.modal-content input:focus,
.modal-content textarea:focus {
	border-color: #56bffb;
}
.modal-content .btn {
	display: inline-block;
	width: 215px;
	margin-right: 18px;
	margin-top: 45px;
	font-size: 12px;
	line-height: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center; 
	color: #fff;
	padding: 10px 0;
	background: #fb565a;
	border-radius: 5px;
	cursor: pointer;
	border: none;
}
.modal-content .btn:hover {
	background: #d6494d;
}
.modal-content .btn:active {
	background: #b63538;
}
.modal-content .btn-close {
	margin-right: 0;
	color: #000;
	background: #f1f1f1;
}
.modal-content .btn-close:hover {
	background: #e5e5e5;
}
.modal-content .btn-close:active {
	background: #d5d5d5;
	border-top: 2px solid #b5b5b5;
}